.site-header
{
    background-color: blueviolet;
    color: white;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body
{
    margin: 0;
}
.profile_pic
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: black 2px 5px 5px;
    
}
.site-header-content
{
    margin: 15px;
}
.course-link
{
    color: azure;
}